<ul class="nav nav-tabs" id="myTab">
	<li class="active">
		<a href="#home">All Devices</a>
	</li>
	<li>
		<a href="#android"> <i class="icon-android"></i> Android</a>
	</li>
	<li>
		<a href="#ios"><i class="icon-apple"></i> iOS</a>
	</li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="home">

		<div class="span4 widget" id="home_devices_by_os"
		data-chart="devices_by_os" data-method="devices/all/percentage/byos"
		data-title="Devices By OS" data-height="400px"></div>

		<div class="span4 widget" id="home_devices_by_ownership"
		data-chart="devices_by_ownership" data-method="devices/all/percentage/byownership"
		data-title="Devices By Ownership" data-height="400px"></div>

	</div>
	<div class="tab-pane" id="android">

	</div>
	<div class="tab-pane" id="ios">

	</div>
</div>
