html, body {
	height: 100%;
	font-family: 'Open Sans Condensed', sans-serif;
}

input, #login_error {
	max-width: 400px;
}


.form-signin-heading{
	font-size: x-large;
}

header .navbar .navbar-inner,.orangebackdrop {
	background-color: #EAA62C;
	background-image: -moz-linear-gradient(top, #FC913A, #FC5E18);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FC913A),to(#FC5E18));
	background-image: -webkit-linear-gradient(top, #FC913A, #FC5E18);
	background-image: -o-linear-gradient(top, #FC913A, #FC5E18);
	background-image: linear-gradient(to bottom, #FC913A, #FC5E18);	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FC913A',	endColorstr='#FC5E18', GradientType=0);
}




header .navbar .brand,.navbar-inverse .nav>li>a {
	color: white;
}

.navbar-inverse .brand:hover,.navbar-inverse .nav>li>a:hover,.navbar-inverse .brand:focus,.navbar-inverse .nav>li>a:focus
	{
	color: #E1F5C4;
}

.form-signin {
	padding-top: 60px
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,#footer {
	height: 60px;
}

#footer {
	text-align:right;
	background-color: #f5f5f5;
}

#wrap>.container-fluid {
	padding-top: 60px;
}

.container .credit {
	margin: 20px 0;
}

code {
	font-size: 80%;
}

.btn-orange {
  background-color: hsl(18, 97%, 54%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FC913A", endColorstr="#FC5E18");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#FC913A), to(#FC5E18));
  background-image: -moz-linear-gradient(top, #FC913A, #cc7a00);
  background-image: -ms-linear-gradient(top, #FC913A, #cc7a00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FC913A), color-stop(100%, #FC5E18));
  background-image: -webkit-linear-gradient(top, #FC913A, #FC5E18);
  background-image: -o-linear-gradient(top, #FC913A, #FC5E18);
  background-image: linear-gradient(#FC913A, #FC5E18);
  border-color: #cc7a00 #cc7a00 hsl(36, 100%, 35%);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}