<div class="feature-dialog">

	<div class="modal-header">
		<h4 id="myModalLabel">Email Configuration</h4>
	</div>
	<div class="modal-body">
			<div class="raw">
				<div class="feature-lable">Authentication Type: </div><select id="type" class="feature-input"><option value="GMAIL">GMAIL</option><option value="YAHOO">YAHOO</option><option value="HOTMAIL">HOTMAIL</option></select>
			</div>
			<div class="raw-fluid">
				<div class="feature-lable">Account Name:</div> <input type="text" id="displayname" class="feature-input">
			</div>
		<div class="raw">
			<div class="feature-lable">Username:</div> <input type="text" id="username" class="feature-input">
		</div>
		<div class="raw">
			<div class="feature-lable">Password:</div> <input type="password" id="password" class="feature-input">
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-cancel"  data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<button  data-dismiss="modal" aria-hidden="true" class="btn btn-orange feature-command" data-value="Enabled">Configure</button>
	</div>

</div>
