<div class="feature-dialog">

	<div class="modal-header">
		<h4 id="myModalLabel">Passcode Policies</h4>
	</div>
	<div class="modal-body">
		
		<div class="raw">
			<div class="feature-lable">Maximum failed attempts:</div> <input type="text" id="maxFailedAttempts" class="feature-input">
		</div>
		
		<div class="raw">
			<div class="feature-lable">Minimum length:</div> <input type="text" id="minLength" class="feature-input">
		</div>
		<div class="raw">
			<div class="feature-lable">Days of Expiration:</div> <input type="text" id="maxPINAgeInDays" class="feature-input">
		</div>
		<div class="raw">
			<div class="feature-lable">Minimum complex characters: </div><input type="text" id="minComplexChars" class="feature-input">
		</div>
		<div class="raw">
			<div class="feature-lable">Password History Length:</div> <input type="text" id="pinHistory" class="feature-input">
		</div>
		<div class="raw">
			Allow Simple: <input type="checkbox" id="allowSimple" class="feature-input">
		</div>
		<div class="raw">
			Require Alphanumeric: <input type="checkbox" id="requireAlphanumeric" class="feature-input">
		</div>
	
	</div>

	<div class="modal-footer">
		<button class="btn btn-cancel"  data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<button  data-dismiss="modal" aria-hidden="true" class="btn btn-orange feature-command">Set Policies</button>
	</div>

</div>
