<div class="container-fluid">

	<div class="raw-fluid">

		<ul class="nav nav-tabs" id="myTab">
			<li class="active">
				<a href="#home">All Devices</a>
			</li>
			<li>
				<a href="#android">Android</a>
			</li>
			<li>
				<a href="#ios">IOS</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="home">

				<div class="span6 widget" id="home_devices_by_os"
				data-chart="devices_by_os" data-method="devices/all/info"
				data-title="Devices By OS"></div>			

			</div>
			<div class="tab-pane" id="android">

			</div>
			<div class="tab-pane" id="ios">

			</div>
		</div>

	</div>

</div>